<ion-header>
    <ion-toolbar>
        <ion-title>{{mockDataItem.title}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    Тут может быть очень крутой текст и много чего ещё например поле ввода
    <ion-item>
        <ion-label position="floating">Придумайте текст</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <h5>
        или даже два
    </h5>
    <div class="flex">
        <ion-item>
            <ion-label position="floating">Имя</ion-label>
            <ion-input></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label position="floating">Телефон</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </div>
</ion-content>
<ion-footer>
    <div class="flex ion-padding">
        <ion-button color="medium" (click)="dismiss()">Отмена</ion-button>
        <ion-button color="secondary" (click)="dismiss()">Ок</ion-button>
    </div>
</ion-footer>